<strong>Click one below to login;</strong>
<br />

<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Admin">Admin Login</a>
<a class="nav-link" asp-area="" asp-controller="Account" asp-action="UserLogin">User Login</a>